@model PrototipoFuncionalRecursosHumanos.Models.Colaborador

@{
    ViewData["Title"] = "Crear Colaborador";
    var listaRoles = new SelectList(ViewBag.RolesDeUsuario, "IdRolDeUsuario", "Descripcion");
    var listaDepartamentos = new SelectList(ViewBag.Departamentos, "IdDepartamento", "Nombre");
    var listaPuestos = new SelectList(ViewBag.Puestos, "IdPuesto", "NombrePuesto");
}

<div class="container">
    <div>
        <div class="mt-5">
            <h2 class="text-center">Crear Colaborador</h2>
            <form asp-action="CrearColaborador" asp-controller="MantenimientoColaboradores" method="post">
                <div class="form-group">
                    <label asp-for="Persona.Identificacion">Identificación</label>
                    <input asp-for="Persona.Identificacion" class="form-control" placeholder="Introduce tu identificación">
                    <span asp-validation-for="Persona.Identificacion" class="text-danger"></span>
                </div>
                <fieldset class="form-group">
                    <legend>Seleccione el tipo de identificación</legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Persona.TipoIdentificacion" value="nacional" id="tipoNacional">
                        <label class="form-check-label" for="tipoNacional">Nacional</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Persona.TipoIdentificacion" value="extranjero" id="tipoExtranjero">
                        <label class="form-check-label" for="tipoExtranjero">Extranjero</label>
                    </div>
                    <span asp-validation-for="Persona.TipoIdentificacion" class="text-danger"></span>
                </fieldset>
                <div class="form-group">
                    <label asp-for="Persona.Nombre">Nombre</label>
                    <input asp-for="Persona.Nombre" class="form-control" placeholder="Introduce tu nombre">
                    <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Persona.Apellido1">Primer Apellido</label>
                    <input asp-for="Persona.Apellido1" class="form-control" placeholder="Introduce tu primer apellido">
                    <span asp-validation-for="Persona.Apellido1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Persona.Apellido2">Segundo Apellido</label>
                    <input asp-for="Persona.Apellido2" class="form-control" placeholder="Introduce tu segundo apellido">
                    <span asp-validation-for="Persona.Apellido2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Persona.FechaDeNacimiento">Fecha de Nacimiento</label>
                    <input asp-for="Persona.FechaDeNacimiento" type="date" class="form-control">
                    <span asp-validation-for="Persona.FechaDeNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.Correo">Correo</label>
                    <input asp-for="Usuario.Correo" type="email" class="form-control" placeholder="Introduce tu correo">
                    <span asp-validation-for="Usuario.Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.RolDeUsuario.IdRolDeUsuario">Rol de Usuario</label>
                    <select asp-for="Usuario.RolDeUsuario.IdRolDeUsuario" asp-items="listaRoles" class="form-control">
                        <option value="">Selecciona un Rol</option>
                    </select>
                    <span asp-validation-for="Usuario.RolDeUsuario.IdRolDeUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Departamento.IdDepartamento">Departamento del colaborador</label>
                    <select asp-for="Departamento.IdDepartamento" asp-items="listaDepartamentos" class="form-control">
                        <option value="">Selecciona un Departamento</option>
                    </select>
                    <span asp-validation-for="Departamento.IdDepartamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Puesto.IdPuesto">Puesto del colaborador</label>
                    <select asp-for="Puesto.IdPuesto" asp-items="listaPuestos" class="form-control">
                        <option value="">Selecciona un Puesto</option>
                    </select>
                    <span asp-validation-for="Puesto.IdPuesto" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-4 mx-auto">Crear Colaborador</button>
            </form>
        </div>
    </div>
</div>