@model PrototipoFuncionalRecursosHumanos.Models.Vacaciones

@{
    ViewData["Title"] = "Crear solicitud de vacaciones";
    var cantidadDiasDisponibles = ViewBag.CantidadDiasDisponibles;
}

<h2 class="text-center mb-3">Crear solicitud de vacaciones</h2>

<h3 class="text-center">Dias vacaciones disponibles: @cantidadDiasDisponibles</h3>

<form asp-action="CrearSolicitudVacaciones" asp-controller="GestionVacaciones" method="post">
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="form-group me-3">
            <label asp-for="FechaInicio" class="control-label">Fecha de inicio</label>
            <input asp-for="FechaInicio" class="form-control" type="date" />
        </div>

        <div class="form-group">
            <label asp-for="FechaFin" class="control-label">Fecha de fin</label>
            <input asp-for="FechaFin" class="form-control" type="date" />
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <span asp-validation-for="FechaFin" class="text-danger text-center"></span>
    </div>
    <input type="submit" value="Solicitar" class="d-block mx-auto btn btn-primary mt-4" />
</form>