@{
    var rolDeUsuario = Autorizador.ObtenerRolColaborador(Context.Request);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrototipoFuncionalRecursosHumanos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PrototipoFuncionalRecursosHumanos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-light header_navbar border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start header_menu" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link header_link" asp-area="" asp-controller="Home" asp-action="MenuPrincipal">Menu Principal</a>
                            </li>
                            @if (rolDeUsuario == "administrador")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link header_link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Mantenimientos
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="MantenimientoDepartamentos" asp-action="Index">Mantenimiento Departamentos</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="MantenimientoPuestos" asp-action="Index">Mantenimiento Puestos</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="MantenimientoColaboradores" asp-action="Index">Mantenimiento Colaboradores</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header_link" asp-area="" asp-controller="ConsultasYReportes" asp-action="Index">Consultas y reportes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header_link" asp-area="" asp-controller="Planilla" asp-action="Index">Gestionar Planilla</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header_link" asp-area="" asp-controller="Aguinaldo" asp-action="Index">Gestionar Aguinaldo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header_link" asp-area="" asp-controller="Liquidacion" asp-action="Index">Gestionar Liquidacion</a>
                                </li>

                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link header_link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestión de vacaciones
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="GestionVacaciones" asp-action="SolicitarVacaciones">Solicitar vacaciones</a></li>
                                    @if (rolDeUsuario == "administrador" || rolDeUsuario == "jefatura")
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="GestionVacaciones" asp-action="AprobarVacaciones">Aprobar vacaciones</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link header_link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestión de permisos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="GestionPermisos" asp-action="SolicitarPermisos">Solicitar permisos</a></li>
                                    @if (rolDeUsuario == "administrador" || rolDeUsuario == "jefatura")
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="GestionPermisos" asp-action="AprobarPermisos">Aprobar permisos</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link header_link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestión de incapacidades
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="GestionIncapacidades" asp-action="SolicitarIncapacidades">Solicitar incapacidades</a></li>
                                    @if (rolDeUsuario == "administrador" || rolDeUsuario == "jefatura")
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="GestionIncapacidades" asp-action="AprobarIncapacidades">Aprobar incapacidades</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link header_link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestión de horas extra
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="GestionHorasExtra" asp-action="SolicitarHorasExtra">Solicitar horas extra</a></li>
                                    @if (rolDeUsuario == "administrador" || rolDeUsuario == "jefatura")
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="GestionHorasExtra" asp-action="AprobarHorasExtra">Aprobar horas extra</a></li>
                                    }
                                </ul>
                            </li>
                            @if (rolDeUsuario == "administrador")
                            {
                                <li class="nav-item">
                                    <a class="nav-link header_link" asp-area="" asp-controller="EvaluacionEmpleado" asp-action="Index">Evaluar Empleados</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link header_link" asp-area="" asp-controller="EvaluacionEmpleado" asp-action="ListaEvaluaciones">Ver mis evaluaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link header_link" asp-area="" asp-controller="Asistencias" asp-action="ListaAsistencias">Ver mis asistencias</a>
                            </li>
                            <li class="nav-item mt-5">
                                <a class="nav-link header_link" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar Sesion</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="MenuPrincipal">Prototipo Funcional Recursos Humanos</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @if (TempData["Alerta"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var alert = @Html.Raw(TempData["Alerta"]);
                Swal.fire({
                    title: alert.Titulo,
                    text: alert.Mensaje,
                    icon: alert.TipoAlerta,
                    confirmButtonText: 'OK'
                });

            });
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>