@model PrototipoFuncionalRecursosHumanos.Models.Evaluacion

@{
    ViewData["Title"] = "Evaluar empleado";
}

<h2 class="text-center mb-3">Evaluacion del empleado: @Model.Colaborador.Persona.Nombre @Model.Colaborador.Persona.Apellido1 @Model.Colaborador.Persona.Apellido2</h2>

<form asp-action="EvaluarEmpleado" asp-controller="EvaluacionEmpleado" method="post">
    <div class="table-responsive mt-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Pregunta</th>
                    <th scope="col">Totalmente en desacuerdo</th>
                    <th scope="col">En desacuerdo</th>
                    <th scope="col">Neutral</th>
                    <th scope="col">De acuerdo</th>
                    <th scope="col">Totalmente de acuerdo</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Preguntas.Count; i++)
                {
                    <tr>
                        <th scope="row">@Model.Preguntas[i].Texto</th>
                        <td><input type="radio" name="Preguntas[@i].Respuesta" value="1"></td>
                        <td><input type="radio" name="Preguntas[@i].Respuesta" value="2"></td>
                        <td><input type="radio" name="Preguntas[@i].Respuesta" value="3"></td>
                        <td><input type="radio" name="Preguntas[@i].Respuesta" value="4"></td>
                        <td><input type="radio" name="Preguntas[@i].Respuesta" value="5"></td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Evaluar" class="d-block w-100 mx-auto btn btn-primary mt-4" />
    </div>
</form>