@model PrototipoFuncionalRecursosHumanos.Models.Usuario

@{
    ViewData["Title"] = "Iniciar Sesion";
    Layout = "~/Views/Shared/_Layout_Without_Header_And_Footer.cshtml";
}

<div class="login_page">
    <div class="login_form">
        <h2 class="text-center">Iniciar sesión</h2>
        <form asp-action="IniciarSesion" asp-controller="Home" class="mt-3 d-flex flex-column justify-content-center align-items-center">
            <div class="form-group login_elements">
                <div class="login_input_box">
                    <label asp-for="Correo" class="login_input_label">
                        <img src="~/icons/mail_icon.svg" class="login_input_icon" alt="icono correo"/>
                    </label>
                    <input asp-for="Correo" type="text" class="login_input" placeholder="Introduce tu correo">
                </div>
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group login_elements mt-4">
                <div class="login_input_box">
                    <label asp-for="Contrasena" class="login_input_label">
                        <img src="~/icons/lock-icon.svg" class="login_input_icon" alt="icono cerradura" />
                    </label>
                    <input asp-for="Contrasena" type="password" class="login_input" placeholder="Introduce tu contraseña">
                </div>
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <a asp-action="RecuperarContrasena" asp-controller="Home">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="btn login_btn btn-block mt-4">Iniciar sesión</button>
        </form>
    </div>
    <div class="login_img">

    </div>
</div>