@{
    ViewData["Title"] = "Menu Principal";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Misión</h2>
            <p>Nuestra misión es proporcionar una plataforma eficiente y fácil de usar para gestionar todos los aspectos de los recursos humanos, desde la contratación hasta la jubilación. Nos esforzamos por ayudar a las empresas a atraer, retener y desarrollar el mejor talento, al tiempo que garantizamos el cumplimiento de las regulaciones laborales.</p>
        </div>

        <div class="col-md-6">
            <h2>Visión</h2>
            <p>Nuestra visión es ser el líder mundial en software de gestión de recursos humanos, proporcionando soluciones innovadoras y centradas en el usuario que transforman la forma en que las empresas gestionan su recurso más valioso: su gente.</p>
        </div>
    </div>
</div>